<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center">Find Pokemon! <span class="glyphicon glyphicon-search"></span></h2>
        </div>
        <div class="panel-body">
            <form name ="queryForm">
                <div class="form-group">
                    <label for="favlang">Pokemon</label>
                    <input type="text" class="form-control" placeholder="Zubat" ng-model="formData.pokemon">
                </div>
                <button type="submit" class="btn btn-danger btn-block" ng-click="queryEntries()">Search</button>
            </form>
        </div>
    </div>
</div>